.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-top: 6rem;
    width: 100%;
    background-color: var(--color-grey-dark-3);

    @include respond(phone) {
        position: relative;
    }

    &__link {
        &:link,
        &:visited {
            color: var(--color-grey-light);
            background-color: var(--color-grey-dark-3);
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }
    
        &:hover,
        &:active {
            color: green;
            box-shadow: 0 1rem 2rem rgba(0,0,0, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }
    
    &__info p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;
        letter-spacing: 1px;
        text-align: center;
        font-size: 2rem;

        @include respond(phone) {
            margin: 0 1rem;
        }
    }
}
