.nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 2rem;
    text-align: center;

    @include respond(phone) {
        margin-bottom: 2rem;
    }
    
    &__box {
        flex: 1 0 25%;
        perspective: 100rem;
    }

    &__item,
    &__item:link,
    &__item:visited {
        display: block;
        background-color: var(--color-primary);
        padding: 2rem 4rem;
        text-decoration: none;
        text-transform: uppercase;
        color: currentColor;
        cursor: pointer;
        height: 100%;
        width: 100%;
        

        &:hover {
            background-color: var(--color-primary-light);
        }
        &:hover + .nav__details {
            transform: rotateX(0);
            opacity: 1;

            @include respond(phone) {
                transform: rotateX(-90);
                opacity: 0;
            }
        }
    }

    &__details {
        transform-origin: top;
        transform: rotateX(-90deg);
        opacity: 0;
        background-color: var(--color-primary-light);
        transition: all .3s;
        color: #fff;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;

        @include respond(phone) {
            display: none;
        }
    }

    &__item > * {
       text-decoration: none;
       color: #fff;
   }
}