@keyframes slide_on {
	0% {
		transform: translateX(120rem);
	}
	100% {
		transform: translateX(0rem);
	}
}

@keyframes slide_off {
	0% {
		transform: translateX(0rem)
	}
	100% {
		transform: translateX(-120rem);
	}
}

@keyframes timer {
	0% {
		width: 100%;
		background-color: green;
	}
	100% {
		width: 0%;
		background-color: red;
	}
}