@keyframes slide_off {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-1200px);
	}
}

@keyframes slide_on {
	0% {
		transform: translateX(1200px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes timer {
	0% {
		width: 100%;
		background-color: green;
	}
	100% {
		width: 0%;
		background-color: red;
	}
}