
:root {

    // colors 
    --color-primary: #19415C;
    --color-primary-light: #4A85AD;
    --color-primary-medium: #396A8B;
    
    --color-blue-grey: #485562;
    
    --color-red-light: #FF6A4F;
    --color-red-dark: #D50000;
    
    --color-green: #55c57a;
    --color-green-light: #7ed56f;
    --color-green-dark: #28b485;
    
    --color-grey-light-1: rgb(247, 247, 247);
    --color-grey-light: #eee;
    --color-grey-light-2: #ddd;
    --color-grey-dark: #777;
    --color-grey-dark-3: #333;
    
    --color-white: #f2f2f2;
    
    
    --color-black: #000;
    
    //border-radius
    --default-border-radius: 3px;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10 pixels

    @include respond(tab-land) { 
        font-size: 56.25%; 
    }
    
    @include respond(tab-port) { 
        font-size: 50%; 
    }

    @include respond(big-desktop) {
        font-size: 75%; 
    }

}

body {
    background-color: var(--color-blue-grey);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 12rem;
    min-height: 100vh;

    @include respond(phone) {
        margin-bottom: 0rem;
    }
}

.container {
    border-radius: 3px;
    background-color: var(--color-blue-grey);
    min-height: 100vh;
}
