.u-center-text { text-align: center; }
.u-shadow { 
    box-shadow: 0 1rem 2rem rgba(0,0,0,.5); 
    transition: all .2s;
}
.u-margin-bottom { margin-bottom: 2rem; }
.u-margin-top-tiny { margin-top: 1px; }