@keyframes slide_off {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-1200px); } }

@keyframes slide_on {
  0% {
    transform: translateX(1200px); }
  100% {
    transform: translateX(0px); } }

@keyframes timer {
  0% {
    width: 100%;
    background-color: green; }
  100% {
    width: 0%;
    background-color: red; } }

:root {
  --color-primary: #19415C;
  --color-primary-light: #4A85AD;
  --color-primary-medium: #396A8B;
  --color-blue-grey: #485562;
  --color-red-light: #FF6A4F;
  --color-red-dark: #D50000;
  --color-green: #55c57a;
  --color-green-light: #7ed56f;
  --color-green-dark: #28b485;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-3: #333;
  --color-white: #f2f2f2;
  --color-white-2: #ddd;
  --color-black: #000;
  --default-border-radius: 3px; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--color-blue-grey);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 6rem;
  min-height: 100vh; }

.container {
  border-radius: 3px;
  background-color: var(--color-blue-grey); }

body {
  font-family: 'Josefin Slab', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light-1); }

.heading-primary {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 2.1rem; }

.heading-secondary {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: var(--color-grey-light); }

.u-center-text {
  text-align: center; }

.u-shadow {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transition: all .2s; }

.u-margin-bottom {
  margin-bottom: 2rem; }

.u-margin-top-tiny {
  margin-top: 1px; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 6rem;
  width: 100%;
  background-color: var(--color-grey-dark-3); }
  .footer__link:link, .footer__link:visited {
    color: var(--color-grey-light);
    background-color: var(--color-grey-dark-3);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: green;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__info p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
    font-size: 2rem; }

.header {
  font-size: 2rem;
  background-color: var(--color-grey-dark-3);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  border-bottom: 3px solid var(--color-primary-light); }
  .header__logo-box {
    margin-left: 3rem;
    width: 60%; }
  .header__userbox {
    width: 40%;
    margin-right: 3rem;
    display: flex;
    justify-content: flex-end; }
    .header__userbox-box {
      display: flex;
      flex-direction: row;
      height: 100%;
      padding: 0 3rem;
      align-items: center;
      position: relative; }
      .header__userbox-box:hover {
        text-decoration: underline;
        cursor: pointer; }
    .header__userbox-icon {
      position: absolute;
      top: 1.75rem;
      right: 0;
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-white); }
    .header__userbox-action {
      position: absolute;
      top: 1.95rem;
      right: 0rem;
      margin-left: 3rem;
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-white); }

.logo__background-bottom {
  padding: 0 1rem;
  background-color: var(--color-primary-light);
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
  flex: 0 0 95%; }

.logo__background-middle {
  padding: 0 1rem;
  background-color: var(--color-primary-medium);
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%); }

.logo__background-top {
  padding: 0 3rem;
  background-color: var(--color-primary);
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%); }

.logo__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  text-align: center; }
  .nav__box {
    flex: 1 0 25%;
    perspective: 100rem; }
  .nav__item {
    background-color: var(--color-primary);
    padding: 2rem 4rem;
    text-transform: uppercase;
    cursor: pointer;
    height: 100%; }
    .nav__item:hover {
      background-color: var(--color-primary-light);
      color: black; }
    .nav__item:hover + .nav__details {
      transform: rotateX(0);
      opacity: 1; }
  .nav__details {
    transform-origin: top;
    transform: rotateX(-90deg);
    opacity: 0;
    background-color: var(--color-primary-light);
    transition: all .3s;
    color: #fff;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem; }
  .nav__item > * {
    text-decoration: none;
    color: #fff; }

.btn {
  padding: 2rem 3rem;
  border-radius: 200px;
  background-color: var(--color-primary);
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--color-grey-light);
  border: none;
  outline: none; }
  .btn__logout {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color-grey-light); }
  .btn__close {
    padding: 2rem 2rem;
    outline: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    color: var(--color-grey-light);
    background: var(--color-grey-dark-3); }
    .btn__close:hover {
      color: var(--color-primary);
      cursor: pointer; }
  .btn__info {
    background-color: var(--color-primary-light);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    width: 30%;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .btn__form {
    width: 100%; }
  .btn:hover {
    background-color: green;
    transition: all .2s;
    cursor: pointer; }
  .btn:active {
    transform: translateY(2px);
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.5); }

.quizzes {
  width: 80%;
  margin: 0 auto; }
  .quizzes__categories {
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .quizzes__categories--item {
      width: 100%;
      border-radius: inherit;
      display: flex;
      justify-content: space-between;
      transition: all .2s; }
      .quizzes__categories--item:hover {
        margin-left: 1rem; }
    .quizzes__categories--link > * {
      margin-top: .6rem; }
    .quizzes__categories--svg {
      height: 2rem;
      width: 2rem;
      fill: var(--color-grey-light); }
    .quizzes__categories--link {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      background-color: var(--color-primary);
      padding: 1rem 2rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      font-size: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--color-grey-light);
      border-radius: 5px;
      transition: all .2s; }
      .quizzes__categories--link:not(:last-child) {
        margin-bottom: 2rem; }
      .quizzes__categories--link:hover {
        background-color: green;
        cursor: pointer; }
    .quizzes__categories--link:hover .quizzes__categories--item {
      margin-left: 1.2rem; }

.target1 {
  background-color: green;
  color: red; }

.right_answer {
  background-color: green; }

.login_select {
  margin-top: 30px; }

.stat_divider {
  width: 100vdh;
  background-color: #3D3D3D;
  height: 50px;
  margin: 20px 0;
  text-align: center;
  font-family: Michroma;
  text-transform: uppercase; }

.stat_divider h2 {
  line-height: 50px; }

.leaderboard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px; }

.leaderboard thead {
  font-family: Michroma; }

.leaderboard table {
  text-align: center; }

.leaderboard th {
  padding: 0px 10px;
  text-decoration: underline; }

.table_alias {
  text-align: left;
  padding-left: 0; }

.all_charts {
  display: flex;
  justify-content: space-around; }

.all_charts h4 {
  text-align: center; }

.chart {
  margin: 0 auto;
  max-width: 35%; }

.category button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 13px;
  outline: none; }

.category button:hover {
  color: white; }

.category:hover {
  background-color: orange;
  color: white;
  transition-duration: .25s; }

#quiz {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #EEEEEE;
  color: black;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px; }

.answers {
  margin-top: 20px;
  display: flex;
  justify-content: space-around; }

.answer {
  padding: 5px;
  border-radius: 5px; }

.answer button {
  display: inline;
  padding: 10px;
  background-color: #DEDDDD;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #C9C9C9; }

.answer button:hover {
  color: white;
  background-color: green;
  box-shadow: 0px 0px 0px black;
  transform: translateY(2px);
  transition-duration: .25s;
  cursor: pointer; }

.timer {
  height: 10px;
  width: 100%;
  background-color: green;
  animation-name: timer;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 0s; }

.response_answer {
  text-align: center; }

.correct {
  color: green;
  text-align: center;
  font-family: 'Michroma', sans-serif; }

.incorrect {
  color: red;
  text-align: center;
  font-family: 'Michroma', sans-serif; }

.slide_on {
  animation-name: slide_on;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out; }

.slide_off {
  animation-name: slide_off;
  animation-duration: .4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out; }
