* {
	margin: 0;
	padding: 0;
}
body {
	background: #485563; 
	color: #f2f2f2;
}
h4 {
	text-transform: uppercase;
	font-family: 'Michroma', sans-serif;
	text-align: center;
	margin-bottom: 20px;
}
input {
	padding: 3px;
	border-radius: 5px;
}
footer {
	position: fixed;
	bottom: 0;
	padding-left: 14px;
}
.container {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.box {
	flex-basis: 25%;
}
.selectors {
	flex-basis: 25%;
	padding: 30px 0;
	background-color: rgb(25, 65, 92);
	color: #f2f2f2;
	text-align: center;
	transition: all 1s;
}
.selectors:hover {
	background-color: #ddd;
	color: black; 
}
.selectors:hover + .explain {
	background-color: #ddd;
	color: black;
	opacity: 1;
	transform: translateY(0px);
}
.container .selectors a {
	text-decoration: none;
	color: white;
}
.explain {
	flex-basis: 25%;
	text-align: center;
	font-size: 14px;
	font-family: 'Times New Roman', Times, serif;
	background-color: rgb(25, 65, 92);
	color: #f2f2f2;
	border-radius: 0 0 10px 10px;
	opacity: 0;
	transition: all 1s;
	transform: translateY(-30px);
	padding: 10px;
}
.header {
	display: flex;
	justify-content: space-between;
}
.header h1 {
	font-family: 'Michroma', sans-serif;
}
.login_logout{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 20px;
	align-items: flex-end;
}
.login_logout input {
	outline: none;
	border: none;
	background: none;
	color: white;
	font-size: 14px;
	font-family: 'Times New Roman', Times, serif;
}
.login_logout input:hover {
	outline: none;
	border: none;
	background: none;
	color: red;
}
.landing_title {
	margin: 0 10px;
	margin-top: 15px;
}
.content {
	display: flex;
	justify-content: center;
}

.submit {
	padding: 5px 10px;
	box-shadow: 1px 1px 1px black;
	border: none;
}
.submit:hover{
	background-color: orange;
	transition-duration: .5s;
	color: white;
}
.registration_divider {
	width: 1px;
	margin: 0 50px;
	border-right: 2px solid grey;
}
.logged_in {
	display: none;
}
.welcome {
	text-align: center;
	transition-duration: 1s;
	animation-name: slide_up;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.error_messages{
	margin: 0 auto;
	color: red;
	text-align: center;
}
@keyframes grow {
	0% {
		transform: scale(1);
	}
	100%{
		transform: scale(1.5);
	}
}
@keyframes slide_up{
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}