@keyframes barber-shop {
  0% {
    background-image: linear-gradient(-45deg, green 0%, green 0%, var(--color-primary-light) 0%, var(--color-primary-light) 80%, green 80%); }
  100% {
    background-image: linear-gradient(-45deg, green 0%, green 80%, var(--color-primary-light) 80%, var(--color-primary-light) 0%, green 0%); } }

:root {
  --color-primary: #19415C;
  --color-primary-light: #4A85AD;
  --color-primary-medium: #396A8B;
  --color-blue-grey: #485562;
  --color-red-light: #FF6A4F;
  --color-red-dark: #D50000;
  --color-green: #55c57a;
  --color-green-light: #7ed56f;
  --color-green-dark: #28b485;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-3: #333;
  --color-white: #f2f2f2;
  --color-white-2: #ddd;
  --color-black: #000;
  --default-border-radius: 3px; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--color-blue-grey);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 6rem;
  min-height: 100vh; }

.container {
  border-radius: 3px;
  background-color: var(--color-blue-grey); }

body {
  font-family: 'Josefin Slab', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light-1); }

.heading-primary {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 2.1rem; }

.heading-secondary {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: var(--color-grey-light); }

.u-center-text {
  text-align: center; }

.u-shadow {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transition: all .2s; }

.u-margin-bottom {
  margin-bottom: 2rem; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2rem;
  margin-top: 6rem;
  width: 100%;
  background-color: var(--color-grey-dark-3); }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: var(--color-grey-light); }
    .footer__link:link:hover, .footer__link:visited:hover {
      color: var(--color-green); }
  .footer__info p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
    font-size: 2rem; }

.header {
  font-size: 2rem;
  background-color: var(--color-grey-dark-3);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  border-bottom: 3px solid var(--color-primary-light); }
  .header__logo-box {
    margin-left: 3rem;
    width: 60%; }
  .header__userbox {
    width: 40%;
    margin-right: 3rem;
    display: flex;
    justify-content: flex-end; }
    .header__userbox-box {
      display: flex;
      flex-direction: row;
      height: 100%;
      padding: 0 3rem;
      align-items: center;
      position: relative; }
      .header__userbox-box:hover {
        text-decoration: underline;
        cursor: pointer; }
    .header__userbox-icon {
      position: absolute;
      top: 1.75rem;
      right: 0;
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-white); }
    .header__userbox-action {
      position: absolute;
      top: 1.95rem;
      right: 0rem;
      margin-left: 3rem;
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-white); }

.logo__background-bottom {
  padding: 0 1rem;
  background-color: var(--color-primary-light);
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
  flex: 0 0 95%; }

.logo__background-middle {
  padding: 0 1rem;
  background-color: var(--color-primary-medium);
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%); }

.logo__background-top {
  padding: 0 3rem;
  background-color: var(--color-primary);
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%); }

.logo__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  text-align: center; }
  .nav__box {
    flex: 1 0 25%;
    perspective: 100rem; }
  .nav__item {
    background-color: var(--color-primary);
    padding: 2rem 4rem;
    text-transform: uppercase;
    cursor: pointer;
    height: 100%; }
    .nav__item:hover {
      background-color: var(--color-primary-light);
      color: black; }
    .nav__item:hover + .nav__details {
      transform: rotateX(0);
      opacity: 1; }
  .nav__details {
    transform-origin: top;
    transform: rotateX(-90deg);
    opacity: 0;
    background-color: var(--color-primary-light);
    transition: all .3s;
    color: #fff;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem; }
  .nav__item > * {
    text-decoration: none;
    color: #fff; }

.btn {
  padding: 2rem 3rem;
  border-radius: 200px;
  background-color: var(--color-primary);
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--color-grey-light);
  border: none;
  outline: none; }
  .btn__logout {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color-grey-light); }
  .btn__close {
    padding: 2rem 2rem;
    outline: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    color: var(--color-grey-light);
    background: var(--color-grey-dark-3); }
    .btn__close:hover {
      color: var(--color-primary);
      cursor: pointer; }
  .btn__info {
    background-color: var(--color-primary-light);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    width: 30%;
    margin: 0 auto; }
  .btn__form {
    width: 100%; }
  .btn:hover {
    background-color: green;
    transition: all .2s;
    cursor: pointer; }
  .btn:active {
    transform: translateY(2px);
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.5); }

.errors__list {
  bottom: 0;
  width: 100%;
  list-style: none;
  text-align: center; }

.errors__message {
  color: orangered;
  letter-spacing: 1px; }

.form {
  padding: 3rem; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: inherit;
    font-family: inherit;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    background-color: white;
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block; }
    .form__input:focus {
      outline: none;
      background-color: white;
      box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.1);
      border-bottom: 3px solid var(--color-green); }
    .form__input:focus:invalid {
      border-bottom: 3px solid var(--color-red-dark); }
    .form__input::-webkit-input-placeholder {
      color: var(--color-grey-dark-3);
      font-size: 1.3rem; }
  .form__label {
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .3rem;
    display: block;
    color: var(--color-grey-light); }

.registration {
  width: 90%;
  height: 60rem;
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: var(--color-grey-dark-3);
  font-size: 1.7rem; }
  .registration__container {
    width: 100%;
    display: inline-block;
    position: relative; }

.welcome {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(45deg, var(--color-primary-light) 0%, var(--color-primary-light) 3%, var(--color-primary) 3%, var(--color-primary) 97%, var(--color-primary-light) 97%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 3rem;
  display: flex;
  backface-visibility: hidden;
  transition-duration: .2s; }
  .welcome__info {
    display: flex;
    flex-direction: column; }
  .welcome__text {
    padding: 2rem 2rem;
    display: inline-block;
    flex: 1 0 25%;
    font-family: 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1px; }

.hide {
  transform: translateX(-3000px) !important; }
