// colors 
$color-primary: rgb(25, 65, 92);

$color-white: #f2f2f2;
$color-white-2: #ddd;

$color-black: #000;


// font
$default-font-size: 1.6rem;

// shadow
$default-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

//border-radius
$default-border-radius: 3px;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;