.btn {
    padding: 2rem 3rem;
    border-radius: 200px;
    background-color: var(--color-primary);
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--color-grey-light);
    border: none;
    outline: none;

    &__logout {
        background-color: transparent;
        outline: none;
        border: none;
        color: var(--color-grey-light);
    }

    &__close {
        padding: 2rem 2rem;
        outline: none;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        color: var(--color-grey-light);
        background: var(--color-grey-dark-3);

        &:hover {
            color: var(--color-primary);
            cursor: pointer;
        }
    }

    &__info {
        background-color: var(--color-primary-light);
        box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
        width: 30%;
        margin: 0 auto;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__form {
        width: 100%;
    }

    &:hover {
        background-color: green;
        transition: all .2s;
        cursor: pointer;
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 0rem 1rem rgba(0,0,0,.5);
    }
}

.btn-answer {
    border-radius: 4px;
    padding: 3rem 3rem;    
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 90%;
    height: 100%;
    border: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    transition: all .2s;
    font-family: 'Josefin Slab', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &:hover{
        background-color: green;
    }

    &:focus {
        outline: none;
    }

}

