
.right_answer {
	background-color: green;
}
#quiz{
	width: 70%;
	margin: 0 auto;
	padding: 20px;
	background-color: #EEEEEE;
	color: black;
	box-shadow: 2px 2px 2px black;
	border-radius: 5px;
}
.answers{
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}
.answer {
	padding: 5px;
	border-radius: 5px;
}

.answer button {
	display: inline;
	padding: 10px;
	background-color: #DEDDDD;
	color: black;
	border-radius: 5px;
	box-shadow: 0px 2px 0px #C9C9C9;
}
.answer button:hover {
	color: white;
	background-color: green;
	box-shadow: 0px 0px 0px black;
	transform: translateY(2px);
	transition-duration: .25s;
	cursor: pointer;
}
.timer {
	height: 10px;
	width: 100%;
	background-color: green;
	animation-name: timer;
	animation-duration: 15s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-delay: 0s
}
.response_answer{
	text-align: center;
}
.correct {
	color: green;
	text-align: center;
	font-family: 'Michroma', sans-serif;
}
.incorrect {
	color: red;
	text-align: center;
	font-family: 'Michroma', sans-serif;
}

.slide_on {
	animation-name: slide_on;
	animation-duration: .4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

.slide_off {
	animation-name: slide_off;
	animation-duration: .4s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}