

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ultimate Fan</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,700|Source+Sans+Pro:300,400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'login/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'quiz/styles.css' %}" media="screen" title="no title"  charset="utf-8">
	<script
		src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		crossorigin="anonymous">
	</script>
    <script type="text/javascript" src="{% static 'quiz/quiz_chart_test.js' %}"></script>
</head>
<body>
	<div class="container">

		<header class="header">
			<div class="header__logo-box">
				<div class="logo__background-bottom">
					<div class="logo__background-middle">
						<div class="logo__background-top">
							<div class="logo__text">
								<h1>Ultimate Fan</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header__userbox">
				<div class="header__userbox-box header__userbox-box--username">
					<svg class="header__userbox-icon">
						{% load static %}
						<use xlink:href="../static/login/sprite.svg#icon-user"></use>
						{% if 'user_id' not in request.session %}
						<span>Welcome</span>
						{% else %}
						<span>{{ user.alias }}</span>
						{% endif %}
					</svg>
				</div>
				<div class="header__userbox-box header__userbox-box--status">
					{% if 'user_id' not in request.session %}
						<svg class="header__userbox-action">
							{% load static %}
							<use xlink:href="../static/login/sprite.svg#icon-enter"></use>
							<span id="sign_in_box">Sign In</span>
						</svg>
					{% else %}
						<svg class="header__userbox-action">
							{% load static %}
							<use xlink:href="../static/login/sprite.svg#icon-exit"></use>
							<span class="header__userbox-action--logout" id="logout"> Sign Out </span>
						</svg>
					{% endif %}
				</div>
			</div>

		</header>

		<nav class="nav">
			<div class="nav__box">
				<a href="{% url 'quiz_home' %}" class="nav__item">Quizzes</a>
				<div class="nav__details">Test your knowledge!</div>
			</div>
			<div class="nav__box">
				<a href="{% url 'quiz_stats' %}" class="nav__item">Quiz Stats</a>
				<div class="nav__details">How boss are you?</div>
			</div>
			<div class="nav__box">
				<a href="{% url 'account_info' %}" class="nav__item">Account</a>
				<div class="nav__details">Your Stuffs!</div>
			</div>
		</nav>

		<div class="quiz-stats">
			<div class="quiz-stats__last-quiz">
				<h2 class="quiz-stats__header">Last quiz for {{user.alias}}</h2>
				<canvas class="quiz-stats__canvas" id="lastTest"></canvas>
			</div>
			<div class="quiz-stats__user-history">
				<h2 class="quiz-stats__header">All quizzes for {{user.alias}}</h2>
				<canvas class="quiz-stats__canvas" id="myChart"></canvas>
			</div>
		</div>

        <section class="leaderboard">
        	<h1>Leaderboards</h1>
            <div class="leaderboard__container">
                <div class="leaderboard__header">
                    <h3 class="leaderboard__col leaderboard__col-1">&nbsp;</h3class>                    
                    <h3 class="leaderboard__col leaderboard__col-2">Alias</h3>
                    <h3 class="leaderboard__col leaderboard__col-3">Correct</h3>
                    <h3 class="leaderboard__col leaderboard__col-4">Total</h3>
                    <h3 class="leaderboard__col leaderboard__col-5">Accuracy</h3>
                </div>
                {% for user in leaderboard %}
                <div class="leaderboard__user-list">
                    <div class="leaderboard__col leaderboard__col-1">{{user.4}}</div>
                    <div class="leaderboard__col leaderboard__col-2">{{user.0}}</div>
                    <div class="leaderboard__col leaderboard__col-3">{{user.1}}</div>
                    <div class="leaderboard__col leaderboard__col-4">{{user.2}}</div>
                    <div class="leaderboard__col leaderboard__col-5">{{user.3}}%</div>
                </div>
                {% endfor %}
            </div>

        </section>
    </div>
    <footer class="footer">
        <div class="footer__info">
            <p>This website was built by <a href="" class="footer__link">Prescott Breeden</a> and <a href="" class="footer__link">Stephen Silverstein</a> ~ Copyright &copy; 2018.</p>
        </div>
    </footer>

<script> </script>
</body>
</html>