<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ultimate Fan</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,700|Source+Sans+Pro:300,400,700" rel="stylesheet">
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'login/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'quiz/styles.css' %}" media="screen" title="no title"  charset="utf-8">
	<script
		src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		crossorigin="anonymous">
	</script>
	<script src="{% static 'quiz/quiz.js' %}"></script>
</head>
<body>
	<div class="container">

		<header class="header">
			<div class="header__logo-box">
				<div class="logo__background-bottom">
					<div class="logo__background-middle">
						<div class="logo__background-top">
							<div class="logo__text">
								<h1>Ultimate Fan</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header__userbox">
				<div class="header__userbox-box header__userbox-box--username">
					<svg class="header__userbox-icon">
						{% load static %}
						<use xlink:href="../static/login/sprite.svg#icon-user"></use>
						{% if 'user_id' not in request.session %}
						<span>Welcome</span>
						{% else %}
						<span>{{ user.alias }}</span>
						{% endif %}
					</svg>
				</div>
				<div class="header__userbox-box header__userbox-box--status">
					{% if 'user_id' not in request.session %}
						<svg class="header__userbox-action">
							{% load static %}
							<use xlink:href="../static/login/sprite.svg#icon-enter"></use>
							<span id="sign_in_box">Sign In</span>
						</svg>
					{% else %}
						<svg class="header__userbox-action">
							{% load static %}
							<use xlink:href="../static/login/sprite.svg#icon-exit"></use>
							<span><a href="/logout" class="header__userbox-action--logout"> Sign Out </a></span>
						</svg>
					{% endif %}
				</div>
			</div>

		</header>

		<nav class="nav">
			<div class="nav__box">
				<a href="{% url 'quiz_home' %}" class="nav__item">Quiz</a>
				<div class="nav__details">Test your knowledge!</div>
			</div>
			<div class="nav__box">
				<a href="{% url 'quiz_stats' %}" class="nav__item">Stats</a>
				<div class="nav__details">Quiz stats and leaderboard</div>
			</div>
			<div class="nav__box">
				<a href="{% url 'account_info' %}" class="nav__item">History</a>
				<div class="nav__details">Your quiz history</div>
			</div>
		</nav>

		<div class="quizzes">
			<div class="heading-secondary u-center-text u-margin-bottom">
				<h2>Select a Category to Begin Quiz:</h2>
			</div>
			<div class="quizzes__categories">
				{% for category in categories %}
					<a href="{% url 'create_quiz' category.id %}" class='quizzes__categories--link'>
						<div class="quizzes__categories--item">
							{{ category.activity_type }}	
							<svg class="quizzes__categories--svg">
								{% load static %}
								<use xlink:href="../static/quiz/sprite.svg#icon-chevron-thin-right"></use>
							</svg>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
		</div>
		<footer class="footer">
			<div class="footer__info">
				<p>This website was built by <a href="" class="footer__link">Prescott Breeden</a> and <a href="" class="footer__link">Stephen Silverstein</a> ~ Copyright &copy; 2018.</p>
			</div>
		</footer>
	</div>
<script> </script>
</body>
</html>