<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
	<title>Select Category</title>
	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type='text/javascript' src="{% static 'quiz/quiz.js' %}"></script>
	<link rel="stylesheet" href="{% static 'quiz/quiz.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1 class="landing_title">(ง'̀-'́)ง Ultimate Fan</h1>
			<div class="login_logout">
				<p>User: {{ user.alias }}</p>
				<form action="{% url 'logout' %}" method="POST">
				{% csrf_token %}
				<input type="submit" value="Log Out">
				</form>
			</div>
		</div>
		<div class="container">
			<div class="box">
			<div class="selectors"><a href="/">Home</a></div>
			<div class="explain">Return to the home page</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'quiz_home' %}">Quizzes</a></div>
			<div class="explain">Test your knowledge!</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'quiz_stats' %}">Quiz Stats</a></div>
			<div class="explain">How boss are you?</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'account_info' %}">Your Account</a></div>
			<div class="explain">Your Stuffs!</div>
		</div>
		</div>
		<div class="select_quiz">
			<h2>Select a category for quiz:</h2>
			<div class="categories">
			{% for category in categories %}
				<div class="category">
					<form type="hidden" action="{% url 'create_quiz' category.id %}">
					<button type="submit" class='cat_btn'>{{ category.activity_type }}</button>	
					</form>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
	<footer>
		<p>Copyright 2018 - Come at me bro - (ง'̀-'́)ง</p>
	</footer>
</body>
</html>