<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
	<title>Credits</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'login/login.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="header">
	<h1 class="landing_title">(ง'̀-'́)ง Ultimate Fan</h1>
		<div class="login_logout">
			<p>{{ user.alias }}</p>
			<form action="{% url 'logout' %}" method="POST">
			{% csrf_token %}
			<input type="submit" value="Log Out">
			</form>
		</div>
	</div>
	<div class="container">
		<div class="box">
			<div class="selectors"><a href="/">Home</a></div>
			<div class="explain">Return to the home page</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'quiz_home' %}">Quizzes</a></div>
			<div class="explain">Test your knowledge!</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'quiz_stats' %}">Quiz Stats</a></div>
			<div class="explain">How boss are you?</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'account_info' %}">Your Account</a></div>
			<div class="explain">Your Stuffs!</div>
		</div>
	</div>
	<div class="about">
	<img src="https://gfycat.com/gifs/detail/QuerulousMellowGentoopenguin">
	<button id="Play_Button">Play</button>
	<h2>About Ultimate Fan</h2>
	<p>Ultimate Fan is a sports trivia game that allows users to test their knowledge on famous athletes.</p>
	<p>All trivia questions were generated via web scraping with the Python Beautiful Soup module, which searched various websites for data on athletes.  We then wrote an algorithm to convert this data into trivia questions that were then transcribed into a csv file before being uploaded into our database.  Registration and login utilize full password hashing with salt via the bcrypt module and REGEX for email identification.</p>

	<p>Select the ‘Quizzes’ tab to test your knowledge!!</p>

	<p>Technologies utilized for this project include:</p>
	<p>Python3.6, Django 2.0.3, SQLite3, jQuery3.3.1, CSS3 (all animations handled by Keyframes), ChartJS</p>
	</div>
	<footer>
		<p>Copyright 2018 - All rights reserved - (ง'̀-'́)ง</p>
		<p class='credits'><a href="{% url 'credits' %}">Credits</a></p>
	</footer>
</body>
</html>
