<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ultimate Fan</title>
	
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,700|Source+Sans+Pro:300,400,700" rel="stylesheet">
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'login/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'login/styles.css' %}" media="screen" title="no title"  charset="utf-8">
	<script
		src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		crossorigin="anonymous">
	</script>
	<script src="{% static 'login/login.js' %}"></script>
</head>
<body>
	<div class="container">
		<header class="header">
			<div class="header__logo-box">
				<div class="logo__background-bottom">
					<div class="logo__background-middle">
						<div class="logo__background-top">
							<div class="logo__text">
								<h1>Ultimate Fan</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header__userbox">
				<div class="header__userbox-box header__userbox-box--username">
					<svg class="header__userbox-icon">
						{% load static %}
						<use xlink:href="../static/login/sprite.svg#icon-user"></use>
						{% if 'user_id' not in request.session %}
						<span>Welcome</span>
						{% else %}
						<span>{{ user.alias }}</span>
						{% endif %}
					</svg>
				</div>
				<div class="header__userbox-box header__userbox-box--status">
					{% if 'user_id' not in request.session %}
						<svg class="header__userbox-action">
							{% load static %}
							<use xlink:href="../static/login/sprite.svg#icon-enter"></use>
							<span id="sign_in_box">Sign In</span>
						</svg>
					{% else %}
						<svg class="header__userbox-action">
							{% load static %}
							<use xlink:href="../static/login/sprite.svg#icon-exit"></use>
							<span class="header__userbox-action--logout" id="logout"> Sign Out </span>
						</svg>
					{% endif %}
				</div>
			</div>

		</header>
		<nav class="nav">
			<div class="nav__box">
				<a href="{% url 'quiz_home' %}" class="nav__item">Quizzes</a>
				<div class="nav__details">Test your knowledge!</div>
			</div>
			<div class="nav__box">
				<a href="{% url 'quiz_stats' %}" class="nav__item">Quiz Stats</a>
				<div class="nav__details">How boss are you?</div>
			</div>
			<div class="nav__box">
				<a href="{% url 'account_info' %}" class="nav__item">Account</a>
				<div class="nav__details">Your Stuffs!</div>
			</div>
		</nav>

		<div class="registration">
			<div class="registration__container">
				<div class="heading-secondary">
					<h2>Register</h2>
				</div>
				<form action="{% url 'register' %}" method="post" class="form">
					
					{% csrf_token %}

					<div class="form__group">
						<input 
							id="alias"
							name="alias" 
							placeholder="Alias" 
							autoomplete="off"
							required
							class="form__input"
							type="text" />
						<label 
							for="alias"
							class="form__label">
							Alias
						</label>
					</div>
	
					<div class="form__group">
						<input 
							id="email"
							name="email" 
							placeholder="Email"  
							autocomplete="email"
							required
							class="form__input"
							type="email" />
						<label 
							for="email"
							class="form__label">
							Email
						</label>
					</div>
	
					<div class="form__group">
						<input 
							id="password"
							name="password" 
							placeholder="Password" 
							autocomplete="off"
							required
							pattern="[a-zA-Z0-9_-]{6,12}"
							class="form__input"
							type="password" />
						<label 
							for="password"
							class="form__label">
							Password (6-12 characters)
						</label>
					</div>
	
					<div class="form__group">
						<input 
							id="cpassword"
							name="cpassword" 
							placeholder="Confirm Password" 
							autocomplete="off"
							pattern="[a-zA-Z0-9_-]{6,12}"
							required
							class="form__input"
							type="password" />
						<label 
							for="cpassword"
							class="form__label">
							Confirm Password
						</label>
					</div>
					<button class="btn btn__form">Register &rarr;</button>
				</form> 
			</div>
				
		
				<!-- {{request.session.status}} -->
				
			<div class="registration__container">
				<div class="u-margin-bottom-medium">
					<div class="heading-secondary">
						<h2>Login</h2>
					</div>
				</div>
				<form action="{% url 'login' %}" class="form" method="POST">
					{% csrf_token %}
					<div class="form__group">
						<input 
							id="log_alias"
							name="email"
							class="form__input" 
							placeholder="Alias or Email Address" 
							autocomplete="off"
							required
							class="form__input"
							type="text" 
							/>
						<label 
							for="log_alias" 
							class="form__label">
							Alias / Email
						</label>
					</div>
					<div class="form__group">
						<input 
							
							name="password"
							class="form__input" 
							placeholder="Password"
							autocomplete="new-password"
							pattern="[a-zA-Z0-9_-]{6,12}"
							required 
							class="form__input"
							type="password" />
						<label 
							for="log_password" 
							class="form__label">Password
						</label>
					</div>
					<button class="btn btn__form">Login &rarr;</button>
				</form>
				<button class="btn__close" id="close_forms">&times;</button>
				<div class="errors">
					{% if messages %}
						<ul class="errors__list">
							{% for message in messages %}
								<li class="errors__message">{{ message }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>

			<div class="welcome {{ request.session.hero }}" id="welcome_hero">
				<div class="welcome__info">
					<div class="heading-secondary u-center-text">
						<h1>Welcome to Ultimate Fan!</h1>
					</div>
					<div class="welcome__text">
						<h2>Description:</h2>
						<p>
							Ultimate Fan is a trivia game that pits users against each other to see who can answer the most questions about athletes from selected categories.  
						</p>
					</div>
					<div class="welcome__text">
						<h2>Instructions:</h2>
						<p>
							To play, please register by clicking the button below to register or sign in.  Once logged-in, select a trivia category. Questions will populate one at a time to be answered.  Questions are timed and if the bar below each question reaches zero then the question will be counted as a wrong answer.
						</p>
					</div>
					
					<button class="btn btn__info" id="ready_btn">Ready to play</button>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="footer__info">
				<p>This website was built by <a href="" class="footer__link">Prescott Breeden</a> and <a href="" class="footer__link">Stephen Silverstein</a> ~ Copyright &copy; 2018.</p>
			</div>
		</footer>

	</div>


<script> </script>

</body>
</html>