<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
	<title>Registration</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'login/login.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="header">
	<h1 class="landing_title">(ง'̀-'́)ง Ultimate Fan</h1>
		<div class="login_logout">
			<p>User: {{ user.alias }}</p>
			<form action="{% url 'logout' %}" method="POST">
			{% csrf_token %}
			<input type="submit" value="Log Out">
			</form>
		</div>
	</div>
	<div class="container">
		<div class="box">
			<div class="selectors"><a href="/">Home</a></div>
			<div class="explain">Return to the home page</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'quiz_home' %}">Quizzes</a></div>
			<div class="explain">Test your knowledge!</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'quiz_stats' %}">Quiz Stats</a></div>
			<div class="explain">How boss are you?</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'account_info' %}">Your Account</a></div>
			<div class="explain">Your Stuffs!</div>
		</div>
	</div>
	<div class="content {{request.session.status}}">
		<div class="registration_form">
		<h4>Register</h4>
		<table>
		<form action="{% url 'register' %}" method="post">
			{% csrf_token %}
			<tr>
				<td><label for="first_name">First Name:</label></td>
				<td><input type="text" placeholder="first name" name="first_name"></td>
			</tr>
			<tr>
				<td><label for="last_name">Last Name:</label></td>
				<td><input type="text" placeholder="last name" name="last_name"></td>
			</tr>
			<tr>
				<td><label for="alias">Alias:</label></td>
				<td><input type="text" placeholder="alias" name="alias"></td>
			</tr>
			<tr>
				<td><label for="email">Email:</label></td>
				<td><input type="text" placeholder="email"  name="email"></td>
			</tr>
			<tr>
				<td><label for="password">Password:</label></td>
				<td><input type="password" placeholder="password" name="password"></td>
			</tr>
			<tr>
				<td><label for="cpassword">PW Confirm:</label></td>
				<td><input type="password" placeholder="confirm password" name="cpassword"></td>
			</tr>
			<tr>
				<td></td>
				<td><input class='submit' type="submit" value="Register"></td>
			</tr>
		</form> 
		</table>
		</div>
		<div class="registration_divider"></div>
		<div class="login_form {{request.session.status}}">
			<h4 class="(( session['status'] ))">Log in</h4>
			<form action="{% url 'login' %}" method='POST'>
			{% csrf_token %}
			<table>
				<tr>
					<td><label for="email">Email:</label></td>
					<td><input type="text" placeholder='email' name="email" value=""></td>
					<td></td>
				</tr>
				<tr>
					<td><label for="password">Password:</label></td>
					<td><input type="password" placeholder='password' name="password"></td>
					<td><input class='submit' type="submit" value="Login"></td></form>
				</tr>
			</table>
		</div>
	</div>
	<div class="error_messages">
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	{% if 'user_id' in request.session %}
		<div class="welcome">
			<h4 class='fade_in slide_up'>Welcome  {{ user.alias }}! </h4>
		</div>
	{% endif %}
	<footer>
		<p>Copyright 2018 - All rights reserved - (ง'̀-'́)ง</p>
	</footer>
</body>
</html>