<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
	<title>Your Account Info</title>
	{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type='text/javascript' src="{% static 'login/account.js' %}"></script>
	<link rel="stylesheet" href="{% static 'login/account.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="header">
		<h1 class="landing_title">(ง'̀-'́)ง Ultimate Fan</h1>
		<div class="login_logout">
			<p>User: {{ user.alias }}</p>
			<form action="{% url 'logout' %}" method="POST">
			{% csrf_token %}
			<input type="submit" value="Log Out">
			</form>
		</div>
	</div>
	<div class="container">
		<div class="box">
			<div class="selectors"><a href="/">Home</a></div>
			<div class="explain">Return to the home page</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="/quiz">Quizzes</a></div>
			<div class="explain">Test your knowledge!</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'quiz_stats' %}">Quiz Stats</a></div>
			<div class="explain">How boss are you?</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="{% url 'account_info' %}">Your Account</a></div>
			<div class="explain">Your Stuffs!</div>
		</div>
	</div>
	<div class="content">
		Stuff goes here...
	</div>
</body>
</html>