:root {
  --color-primary: #19415C;
  --color-primary-light: #4A85AD;
  --color-primary-medium: #396A8B;
  --color-blue-grey: #485562;
  --color-red-light: #FF6A4F;
  --color-red-dark: #D50000;
  --color-green: #55c57a;
  --color-green-light: #7ed56f;
  --color-green-dark: #28b485;
  --color-grey-light-1: rgb(247, 247, 247);
  --color-grey-light: #eee;
  --color-grey-light-2: #ddd;
  --color-grey-dark: #777;
  --color-grey-dark-3: #333;
  --color-white: #f2f2f2;
  --color-black: #000;
  --default-border-radius: 3px; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 87.5em) {
    html {
      font-size: 60%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: var(--color-blue-grey);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 12rem;
  min-height: 100vh; }
  @media only screen and (max-width: 37.5em) {
    body {
      margin-bottom: 0rem; } }

.container {
  border-radius: 3px;
  background-color: var(--color-blue-grey);
  min-height: 100vh; }

body {
  font-family: 'Josefin Slab', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light-1); }

.heading-primary {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 2.1rem; }

.heading-secondary {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: var(--color-grey-light); }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 1rem; } }

@keyframes slide_on {
  0% {
    transform: translateX(120rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes slide_off {
  0% {
    transform: translateX(0rem); }
  100% {
    transform: translateX(-120rem); } }

@keyframes timer {
  0% {
    width: 100%;
    background-color: green; }
  100% {
    width: 0%;
    background-color: red; } }

.u-center-text {
  text-align: center; }

.u-shadow {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transition: all .2s; }

.u-margin-bottom {
  margin-bottom: 2rem; }

.u-margin-top-tiny {
  margin-top: 1px; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 6rem;
  width: 100%;
  background-color: var(--color-grey-dark-3); }
  @media only screen and (max-width: 56.75em) {
    .footer {
      position: relative; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      position: relative; } }
  .footer__link:link, .footer__link:visited {
    color: var(--color-grey-light);
    background-color: var(--color-grey-dark-3);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: green;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__info p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
    font-size: 2rem; }
    @media only screen and (max-width: 56.75em) {
      .footer__info p {
        margin: 0 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__info p {
        margin: 0 1rem; } }

.header {
  font-size: 2rem;
  background-color: var(--color-grey-dark-3);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--color-primary-light); }
  @media only screen and (max-width: 37.5em) {
    .header {
      justify-content: center;
      flex-wrap: wrap; } }
  .header__logo-box {
    margin-left: 3rem;
    width: 60%;
    margin-right: auto; }
    @media only screen and (max-width: 37.5em) {
      .header__logo-box {
        flex: 1 0 90%;
        margin-right: 3rem; } }
  .header__controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-white); }
    @media only screen and (max-width: 37.5em) {
      .header__controls {
        width: 100%;
        background-color: var(--color-primary-medium); } }
  .header__control-box {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 .5rem; }
    @media only screen and (max-width: 37.5em) {
      .header__control-box {
        flex-direction: row;
        padding: 1rem;
        margin: 0rem 2rem; } }
  .header__text {
    text-decoration: none;
    color: var(--color-white);
    align-self: stretch; }
    .header__text:hover {
      border-bottom: 2px solid var(--color-white);
      cursor: pointer; }
  .header__icon {
    margin: 0 1rem;
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor;
    align-self: stretch; }

.logo__background-bottom {
  padding: 0 1rem;
  background-color: var(--color-primary-light);
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
  flex: 0 0 95%; }

.logo__background-middle {
  padding: 0 1rem;
  background-color: var(--color-primary-medium);
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%); }

.logo__background-top {
  padding: 0 3rem;
  background-color: var(--color-primary);
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%); }

.logo__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 2rem;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      margin-bottom: 2rem; } }
  .nav__box {
    flex: 1 0 25%;
    perspective: 100rem; }
  .nav__item, .nav__item:link, .nav__item:visited {
    display: block;
    background-color: var(--color-primary);
    padding: 2rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    color: currentColor;
    cursor: pointer;
    height: 100%;
    width: 100%; }
    .nav__item:hover, .nav__item:link:hover, .nav__item:visited:hover {
      background-color: var(--color-primary-light); }
    .nav__item:hover + .nav__details, .nav__item:link:hover + .nav__details, .nav__item:visited:hover + .nav__details {
      transform: rotateX(0);
      opacity: 1; }
      @media only screen and (max-width: 37.5em) {
        .nav__item:hover + .nav__details, .nav__item:link:hover + .nav__details, .nav__item:visited:hover + .nav__details {
          transform: rotateX(-90);
          opacity: 0; } }
  .nav__details {
    transform-origin: top;
    transform: rotateX(-90deg);
    opacity: 0;
    background-color: var(--color-primary-light);
    transition: all .3s;
    color: #fff;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem; }
    @media only screen and (max-width: 37.5em) {
      .nav__details {
        display: none; } }
  .nav__item > * {
    text-decoration: none;
    color: #fff; }

.btn {
  padding: 2rem 3rem;
  border-radius: 200px;
  background-color: var(--color-primary);
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--color-grey-light);
  border: none;
  outline: none; }
  .btn__logout {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color-grey-light); }
  .btn__close {
    padding: 2rem 2rem;
    outline: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    color: var(--color-grey-light);
    background: var(--color-grey-dark-3); }
    .btn__close:hover {
      color: var(--color-primary);
      cursor: pointer; }
  .btn__info {
    background-color: var(--color-primary-light);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    width: 30%;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media only screen and (max-width: 37.5em) {
      .btn__info {
        width: 100%; } }
  .btn__form {
    width: 100%; }
  .btn:hover {
    background-color: green;
    transition: all .2s;
    cursor: pointer; }
  .btn:active {
    transform: translateY(2px);
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.5); }

.btn-answer {
  border-radius: 4px;
  padding: 3rem 3rem;
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 1px;
  background-color: var(--color-primary);
  color: var(--color-white);
  margin: 0 auto;
  width: 90%;
  height: 100%;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transition: all .2s;
  font-family: 'Josefin Slab', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  .btn-answer:hover {
    background-color: green; }
  .btn-answer:focus {
    outline: none; }

.leaderboard {
  margin: 3rem auto;
  padding: 3rem;
  background-image: linear-gradient(45deg, var(--color-primary-light) 0%, var(--color-primary-light) 3%, var(--color-primary) 3%, var(--color-primary) 97%, var(--color-primary-light) 97%);
  box-shadow: 0 4rem 10rem rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 90%; }
  @media only screen and (max-width: 37.5em) {
    .leaderboard {
      width: 95%;
      padding: 1rem;
      box-shadow: none; } }
  .leaderboard__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%; }
  .leaderboard__header {
    text-transform: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .leaderboard__header {
        font-size: 2rem; } }
  .leaderboard__user-list {
    text-transform: none;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .leaderboard__user-list {
        font-size: 2rem;
        align-items: center; } }
  .leaderboard__col {
    display: inline-block; }
    @media only screen and (max-width: 37.5em) {
      .leaderboard__col {
        display: flex; } }
    .leaderboard__col-1 {
      flex: 1; }
    .leaderboard__col-2 {
      flex: 3; }
    .leaderboard__col-3 {
      flex: 2; }
    .leaderboard__col-4 {
      flex: 2; }
      @media only screen and (max-width: 37.5em) {
        .leaderboard__col-4 {
          display: none; } }
    .leaderboard__col-5 {
      flex: 1; }
      @media only screen and (max-width: 37.5em) {
        .leaderboard__col-5 {
          display: none; } }

.question__timer {
  height: 10px;
  width: 100%;
  background-color: green;
  animation-name: timer;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 0s;
  margin: 2rem 0; }

.question__result {
  font-family: 'Josefin Slab', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-height: 3rem;
  text-align: center;
  font-size: 2rem; }
  .question__result--correct {
    color: green;
    text-align: center; }
  .question__result--incorrect {
    color: red;
    text-align: center; }

.question__container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-white);
  color: black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  backface-visibility: hidden;
  animation: slide_on .4s ease-out 1 forwards; }
  @media only screen and (max-width: 37.5em) {
    .question__container {
      width: 90%; } }

.question__text {
  font-size: 2rem;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-bottom: 3rem; }

.question__answer-list {
  margin: 3rem auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap; }
  .question__answer-list > * {
    flex: 1 0 45%;
    margin: 1.5rem 0; }
  @media only screen and (max-width: 37.5em) {
    .question__answer-list {
      flex-direction: column;
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .question__answer-list--answer {
      width: 100%; } }

.right_answer {
  background-color: rgba(255, 0, 0, 0.8); }

.slide_off {
  animation: slide_off .4s ease-out 1s 1 forwards; }

.quiz-stats {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 0rem auto;
  padding: 3rem;
  background-image: linear-gradient(45deg, var(--color-primary-light) 0%, var(--color-primary-light) 3%, var(--color-primary) 3%, var(--color-primary) 97%, var(--color-primary-light) 97%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
  @media only screen and (max-width: 37.5em) {
    .quiz-stats {
      flex-direction: column;
      align-items: center;
      width: 95%;
      box-shadow: none; } }
  @media only screen and (max-width: 37.5em) {
    .quiz-stats__user-history {
      margin-top: 2rem; } }
  .quiz-stats__header {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-align: center; }
  .quiz-stats__canvas {
    height: 40rem !important;
    width: 40rem !important; }
    @media only screen and (max-width: 37.5em) {
      .quiz-stats__canvas {
        width: 90% !important;
        height: auto !important;
        margin: 0 auto !important; } }

.quizzes {
  width: 80%;
  margin: 0 auto; }
  .quizzes__categories {
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .quizzes__categories {
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: 100vh; } }
    .quizzes__categories--item {
      width: 100%;
      border-radius: inherit;
      display: flex;
      justify-content: space-between;
      transition: all .2s; }
      .quizzes__categories--item:hover {
        margin-left: 1rem; }
    .quizzes__categories--link > * {
      margin-top: .6rem; }
    .quizzes__categories--svg {
      height: 2rem;
      width: 2rem;
      fill: var(--color-grey-light); }
    .quizzes__categories--link {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      background-color: var(--color-primary);
      padding: 1rem 2rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      font-size: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--color-grey-light);
      border-radius: 5px;
      transition: all .2s; }
      .quizzes__categories--link:not(:last-child) {
        margin-bottom: 2rem; }
      .quizzes__categories--link:hover {
        background-color: green;
        cursor: pointer; }
      @media only screen and (max-width: 37.5em) {
        .quizzes__categories--link {
          width: 60%;
          display: block; } }
    .quizzes__categories--link:hover .quizzes__categories--item {
      margin-left: 1.2rem; }
